/* tablet @media */
@media screen and (max-width: 768px) and (min-width: 510px) {
/*-------------
  header
-------------- */
.header-body {
height: 398px;
}
header.header-body{
  margin-bottom: 30px;
}

.header-info {
width: 50%;
padding: 60px 0px 0px 65px;
}
.header-info h1 {
font-size: 35px;
line-height: 45px;
width: 100%;
}

.header-info p {
font-size: 14px;
}
span{
display: none;
}
.header-img img{
padding-top: 50px;
}
.main-wrap{
display: inline-block;
width: 100%;
}
/*----------------------
  nav
--------------------- */
nav{
background-color: white;
height: 110px;
width: 100%;
border-radius: 0;
}
nav ul{
display: flex;
}
nav li{
display: contents;
}
nav ul li a{
border: 1px solid #00000021;
width: 30%;
}

/*----------------------
    blog
--------------------- */
.blog-container, .match-container{
grid-template-columns: repeat(2, 1fr);
}
.blog-section, .match-schedule-section{
width: auto;
}
.display-block{
display: none;
}
.blog-container,
.match-container{
margin-bottom: 60px;
}


.view-btn {
text-align: center;
margin-bottom: 50px;
display: block;
}

.view-btn a {
text-decoration: none;
color: white;
background: red;
font-weight: 500;
padding: 10px 30px;
display: inline-block;
border-radius: 7px;
font-size: 20px;
transition: .2s;
}
.view-btn a:hover{
  background-color: black;
}
}


/*----------------------
    Small mobile
--------------------- */
@media screen and (max-width: 509px) and (min-width: 320px) {
/*----------------------
  header
--------------------- */
header.header-body {
  width: 90%;
}
.header-info{
width: 99%;
padding: 0 3px;
text-align: center;
}
.header-info p{
  padding: 0;
  width: auto;
  padding: 10px 50px;
}
.header-info h1{
font-size: 28px;
width: auto;
padding: 10px 65px;
line-height: 40px;
}
.header-wrap {
display: inline-block;
}
span{
display: none;
}
header.header-body{
  margin-bottom: 20px;
}
.header-img{
  width: 100%;
}
.header-img img {
  width: 65%;
  margin-left: 90px;
}

/*----------------------
  nav
--------------------- */
.main-wrap{
  display: block;
}
nav{
  width: 100%;
  margin: auto;
  background-color: white;
}

nav ul li a {
  border: 1px solid #00000021;
  
}
/*----------------------
  blog section
--------------------- */
.blog-container,
.match-container{
  grid-template-columns: repeat(1, 1fr);
}
.blog-section,
.match-schedule-section{
  width: 100%;
}
.blog-img img{
  height: 215px;
}
/* social link */
.social-link a{
  width: 100%;
}
    .match-flag{
      padding: 51px 70px 35px;
    }

            
hr{
  width: 400px;
  margin-bottom: 30px;
}

.footer-title{
  margin-top: 30px;
}
}